@using GameShop.Contract.Entities

@model IEnumerable<Ad>

@{
    ViewData["Title"] = "About";
}
<ol>
    @foreach (var ad in Model)
    {
        <li>@string.Format("{0}:{1}", ad.Id, ad.Title)</li>
    }
</ol>