@using GameShop.Interface

@model IEnumerable<Product>

@{
    ViewData["Title"] = "About";
}
<ol>
    @foreach (var product in Model)
    {
        <li>@string.Format("{0}:{1}", product.Id, product.Title)</li>
    }
</ol>