@using GameShop.Contract.Entities

@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}
<ol>
    @foreach(var product in Model)
    {
        <li>@string.Format("{0}:{1}", product.Id, product.Name)</li>
    }
</ol>